body {
  background-image: url(img/background.jpg);
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  background-color: black;
}
#getImage{
  display: block;
  position: fixed;
  font-size: 1.1em;
  width: 150px;
  height: 50px;
  text-decoration:none;
  text-align:center;
  font: bold 14px arial;
  text-transform: uppercase;
  padding: 10px 15px;
  margin: -380px 1247px;
  color: #ad9ca3;
  background-color: #1818d9;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,214,255,1) 100%);
  border: none;
  border-radius: 3px;
  text-shadow: 0px -1px 0px #000;
}
#getImage:active{
  color: #fff;
  text-shadow: 0px -1px 0px #444,0px 0px 5px #ffd,0px 0px 8px #fff;
  box-shadow: 0px 1px 0px #666,0px 2px 0px #444,0px 2px 2px rgba(0, 0, 0, .9);
  transform: translateY(3px);
  animation: none;
}
#video{
  height: 360px;
  width: 640px;
  margin: 50px 0px 0px 522px;
  border: 2px solid transparent;
}
#video2{
  height: 360px;
  width: 640px;
  margin: 50px 0px 0px 522px;
  border: 2px solid transparent;
}

#quantity{
  position: absolute;
  height: 30px;
  width: 30px;
  margin: 0;
  border: 2px solid lime;
  font: 30px  Impact, sans-serif;
  text-align: center;
  color: lime;
  z-index: 2;
}
